<!--<div class="container">-->
<!--  @for (item of (this.myData$ | async)?.characters ; track item.id){-->
<!--    <div class="content-wrapper">-->
<!--      <div class="card">-->
<!--        <div class="card-image">-->
<!--          <img src="{{item.images[0]}}" alt="Card Image">-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <div class="card-tags">-->
<!--            <div class="tag">{{item.}}</div>-->
<!--            <div class="tag">{{item.weight}}</div>-->
<!--            <div class="tag">{{item.height}}</div>-->
<!--          </div>-->
<!--          <div class="card-content">-->
<!--            <div class="card-title">{{item.name}}</div>-->
<!--            <p>{{item.jutsu}}</p>-->
<!--          </div>-->
<!--          <div class="card-footer">-->
<!--            <button class="card-btn">Read More</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  }-->
<!--</div>-->
