<div class="main">
  <div class="image">
    <img src="{{productDetail.imgurl}}" alt="Random" />
  </div>
  <div class="info">
    <div>
      <h2> {{productDetail.name}} </h2>
    </div>
    <p class="price"> {{ productDetail.price }}
    <p class="desc"> Cozy cabin nestled in Iceland's breathtaking landscape, offering stunning views of northen lights and mountains
    </p>
    <div class="daysrating">
      <div class="stat-box">
        <span class="label"> Days</span>
        <br/>
        <span class="value"> 3 </span>
      </div>
      <div class="stat-box">
        <span class="label"> Rating</span>
        <br/>
        <span class="value"> 4.9 </span>
      </div>
    </div>
    <button> Reserve </button>
  </div>
</div>


