<div class="container">
  @for (item of cardItem ; track item.id){
    <div class="content-wrapper">
      <div class="card">
        <div class="card-image">
          <img src="{{item.images[0]}}" alt="Card Image">
        </div>
        <div class="card-body">
          <div class="card-tags">
            <div class="tag">{{item.personal.sex}}</div>
          </div>
          <div class="card-content">
            <div class="card-title">{{item.name}}</div>
            <p></p>
          </div>
          <div class="card-footer">
            <button class="card-btn" (click)="navigateToDetail(item.id)">Read More</button>
          </div>
        </div>
      </div>
    </div>

  }
</div>
